.search,
.archive {
	&.category-article,
	&.category-case-study {
		.style-light a:not(.btn-text-skin):hover {
			color: inherit !important;
		}
		.t-inside {		    
			display: table;
			position: relative;
		    table-layout: fixed;
		    width: 100%;
		    .t-entry-visual {
		    	height: 100%;
		    }
		    .t-entry-visual-cont,
		    .t-overlay-inner {
		    	> a {
		    		display: none;
		    	}
		    }
		    .t-entry-meta {
		    	margin-top: 0;
		    }
			.t-entry-text {
				bottom: 34px;
				height: auto !important;
				padding: 0 24px;
				position: absolute;
				.archive-category {
					color: $white;
					font-size: 12px;
    				line-height: 14px;
    				text-transform: uppercase;
				}
				.t-entry-title {
					a,
					a:hover {
						text-decoration: none;
					}
					p {
						color: $white;
			    		font-size: 18px;
			    		line-height: 22px;
						margin-top: 0;
						span {
		 					border-bottom: 1px solid rgba(255, 255, 255, 0.5);
						}
					}
					.source {
						color: $white;
						display: inline-block;
						font-size: 14px;
						line-height: 16px;
						margin-top: 6px;
					}
				}
			}
		}
	}
	&.category-slideshow {
		.t-background-cover,
		.t-entry .author {
			display: none;
		}
	}
	.t-entry-visual {
		&.dataviz,
		&.impact {
			.t-background-cover {
				background-size: contain;
				display: block;
				margin: 10px auto 0;
				width: 90%;
				&.default {
					background-size: cover;
					margin: 0;
					width: 100%;
				}
			}
			.t-overlay-content {
				display: none;
			}
		}
		&.slideshow {
			cursor: pointer;
		}
		&.video {
			.t-entry-visual-cont {
				> a {
					display: none;
				}
			}
		}
		&.article,
		&.casestudy {
			@include bg-gradient-solid(#3100be, #9239dd);
			.t-background-cover  {
				display: none;
			}
		}
		&.casestudy {
			@include bg-gradient-solid(#0008c4, #007be0);
		}
	}
	.t-entry-title {
		a {
			span {
				border-bottom: 1px solid rgba(0, 0, 0, 0.5);
			}
			&:hover {
				color: $black !important;
			}
		}
	}
	.main-container .row-inner > div {
		padding-left: 0;
	}
	h1 {
		font-size: 36px !important;
		margin-top: 0 !important;
	}
	.header-main-container {
		padding-top: 100px;
		.header-content {
			background-color: transparent;
			.header-content-inner {
				padding-top: 0 !important;
				.featured-image,
				.photo-credit {
					display: none;
				}
			}
		}
	}
	.post-wrapper {
		margin-top: 128px;
		max-width: 1176px;
	}
	.breadcrumb {
		display: none;
	}
	.t-entry-category {
		text-transform: capitalize;
		i {
			display: none;
		}
	}
	.single-block-padding {
		padding-top: 22px;
	}
	.archive-category,
	.t-entry-type {
		color: $gray88;
		font-size: 12px;
		padding-bottom: 5px;
		text-transform: uppercase;
	}
	.t-entry-type {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.single-gutter {
		.tmb {
			border-right: 1px solid #ebebeb;
			padding: 0 18px 30px;
			margin-bottom: 30px;
			&:nth-child(4n+4),
			&:last-child {
				border: 0;
				padding-right: 18px;
			}
		}
		&:not(.owl-carousel-container) .tmb .t-inside {
			margin-top: 0;
		}
	}
	.tmb .t-entry-visual {
		.t-entry-visual-overlay,
		.t-overlay-wrap {
			bottom: auto;
		}
	}
	.style-light { 
		.text-default-color {
			color: $coral !important;
			&.disabled {
				color: #ccc !important;
			}
		}
	}
	.row-parent.no-h-padding .isotope-footer-inner > .pagination {
		padding-left: 18px;
		padding-right: 18px;
	}
	.isotope-footer {
		background: none;
		margin-bottom: 50px;
		.pagination {
			.btn {
				font-family: $font-serif-medium;
				font-weight: normal !important;
				text-transform: capitalize;
			}
			> li {
				padding-right: 10px;
				.current {
					background-color: $coral;
					border: 2px solid transparent;
					color: $white !important;
				}
				
				a.page-numbers {
					border: 2px solid transparent;
					color: $coral;
					cursor: pointer;
					&:hover {
						border: 2px solid $coral;
						color: $coral !important;
					}
				}
			}
			.page-prev,
			.page-next {
				margin-top: 6px;
				width: auto;
				i {
					font-size: 24px;
					margin-top: -12px;
				}
				a{
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.style-metro .tmb .t-inside {
		.t-entry-text {
			display: block;
			table-layout: auto;
			height: 104px;
		}
		.t-entry-visual .t-entry-visual-tc .t-entry-visual-cont > a {
			z-index: 1;
		}
	}
	.particle-js {
		max-height: 300px;
	}
}

.search {
	&.search-no-results {
		.post-wrapper {
			margin-top: 0;
		}
	}
	.row-navigation {
		display: none;
	}
	.post-wrapper {
		margin-top: 26px;
	}
}

@media (max-width: $screen-md) {
	.archive {
		.isotope-wrapper.single-gutter .isotope-layout {
			margin-right: 0;
		}
		.sections-container {
			padding: 0;
		}
		.header-wrapper {
			min-height: 200px !important;
			padding-top: 110px;
		}
		.post-wrapper {
			margin-top: 75px;
		}
	}
}

@media (max-width: $screen-sm) {
	.archive {
		.single-gutter .tmb {
			border-right: 0;
			margin-bottom: 0;
			padding-left: 0;
			padding-right: 0;
			&:nth-child(4n+4) {
				padding-right: 0;
			}
		}
		.style-metro .tmb .t-inside .t-entry-text .t-entry-text-tc {
			padding-left: 20px !important;
			padding-right: 20px !important;
		}
		.isotope-footer .pagination {
			> li {
				padding-right: 5px;
			}
			.page-prev,
			.page-next {
				a {
					span {
						display: none;	
					}
					i {
						margin-top: -4px;
					}
				}
			}
		}
	}
}