#particles-js {
	background-color: $green;
	height: $header-height;
	position: absolute;
	top: 0;
	width: 100%;
}

.bg-pattern-green{
	background: $green url('assets/bg-pattern-green.png') repeat 0 0;
}

.error404 {
	.block-bg-overlay {
		background-color: $green;
	}
	#particles-js {
		background-color: transparent;
		height: 700px;
	}
	.limit-width {
		max-width: none !important;
	}
	.main-container .row-container .row-parent {
		padding-top: 0;
		.uncoltable {
			padding-top: 36px;
		}
	}
}

.header-wrapper {
	.row-container {
		.row-inner {
			margin-left: 0;
			> div {
				padding-left: 0 !important;
			}
		}
		.row {
			.uncol {
				text-align: center;
			}
			.uncoltable {
				display: inline-block;
				padding-top: 95px !important;
				width: auto;
			}
		}
	}
}

.main-container {
	.post-wrapper {
		.row-container {
			background-color: white;
		}
	}
}

.home {
	#page-header {
		display: block;
		position: relative;
	}
	#particles-js {
		bottom: 0;
		top: -72px;
	}
	.header-wrapper {
		background-color: $green;
	}
}

ul {
	list-style-type: none;
	li {
		font-size: 18px;
	}
	&.horizontal {
		li {
			display: inline-block;
		}
	}
}

table {
	tbody {
		tr {
			td {
				a {
					border-bottom: 0;
				}
			}
		}
	}
}

table td, 
table th {
	font-weight: normal;
	vertical-align: top;
}

html {
	margin-top: 0 !important;
}
.menu-container {
	top: 0 !important;
}

div > a {
	border-bottom: 0 !important;
}

a {
	color: $coral;
	&:hover {
		color: darken($coral, 20%);
	}
}

.style-light {
	a {
		color: $coral;
		&:not(.btn-text-skin):hover {
			color: darken($coral, 20%) !important;
		}
	}
}

.style-color-wayh-bg {
	background-color: transparent;
}

.btn {
	font-family: $font-sans-bold;
	font-size: 14px;
	letter-spacing: 0;
	margin: 20px 0;
	text-decoration: none;
	&.submit-btn{
		background-color: #3d3030;
		border-color: #3d3030;
		border-radius: 0;
		color: $white;
		font-family: $font-serif-book;
		font-size: 24px;
		font-weight: normal !important;
		letter-spacing: 0;
		line-height: 68px;
		margin: 0;
		max-width: 156px;
		padding: 0 40px !important;
		text-transform: none;
		vertical-align: top;
		&:hover{
			background-color: $white;
			color: #3d3030;
		}
	}
}

input{
	border: 0;
	display: inline-block;
	margin-top: 0;
	padding: 0 15px;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #CCC;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: #CCC;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: #CCC;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: #CCC;
	}
}

.mc-field-group {
	input {
		&[type="email"]{
			color: $gray33;
			font-family: $font-serif-book;
			font-size: 24px;
			height: 70px;
			line-height: 70px;
			max-width: 448px;
			padding-left: 35px;
			width: 100%;
			vertical-align: top;
		}
	}
}

#contact #mc_embed_signup div.mce_inline_error {
	background-color: transparent;
	color: #FF0000;
}

.media-credit {
	margin-left: 0;
	text-align: left;
}

.comments-area {
	input {
		border: 1px solid #eaeaea;
		line-height: 30px;
	}
}

.pagination {
	a.disabled {
		color: #ccc;
		cursor: default;
	  	pointer-events: none;
	}
}

.widget-container .tagcloud.dark a {
	background-color: $black;
	border-radius: 0;
	border: 0;
	color: $white;
	font-family: $font-serif-book;
    font-size: 13px !important;
    font-weight: normal;
    line-height: 1.5;
    padding: 3px 10px;
    text-transform: capitalize;
}

button.wdt-clear-filters-button {
	background-color: #F3F5F6;;
	font-weight: normal !important;
	&:hover {
		background-color: #F1F1F1;
	}
	&:before {
		padding-right: 6px;
	}
}


//wpdatatables styles
.wpDataTable {
	.wdt-checkbox-label {
		font-size: 14px;
	}
	.dataTables_length,
	.dataTables_filter {
		font-size: 15px;
	}
	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		text-align: center;
	}
	.bs-caret {
		color: #000;
	}
	.row-detail ul {
		padding: 10px 18px 18px 18px;
	}
}

@media (max-width: $screen-md) {
	.single {
		.header-wrapper {
			background-color: transparent;
		}
		#particles-js {
			display: none;
		}
	}
	.header-wrapper {
		.row-inner {
			padding: 0 20px;
		}
		.row-container {
			.row {
				.uncoltable {
					padding-top: 150px !important;
				}
			}
		}
	}
}
