.impact-story {
	.post-content {
		margin-bottom: 60px;
		.row-inner:first-child {
			p:first-child {
				font-family: $font-serif-medium;
				font-size: 24px;
			}
		}
		.conclusion {
			background-color: $lightteal;
			padding: 0 0 20px;
			margin: 70px -36px 35px;
		}
	}
	.sidebar,
	.sidebar-related {
		> div {
			border-top: 1px solid $graycc;
			margin-top: 18px;
			padding-top: 12px;
			padding-left: 12px;
			position: relative;
			text-align: right;
		}
		h5 {
			font-size: 14px;
			margin-top: 0;
		}
		a {
			font-size: 14px;
			font-weight: 700;
		}
		.fa {
			margin-left: 2px;
			vertical-align: -1px;
		}
		.label {
			position: absolute;
			top: 20px;
			left: 12px;
		}
		.services {
			margin-left: 100px;
		}
		.tags {
			list-style-type: none;
			margin-top: 0;
			a {
				background-color: $coral;
				color: $white;
				padding: 5px 10px;
				text-transform: uppercase;
				&:hover {
					background-color: darken($coral, 20%);
				}
			}
		}
		.links {
			list-style-type: none;
			margin-top: 0;
			padding-left: 0;
			a {
				color: $black;
				display: block;
				font-family: $font-serif-book;
				font-size: 18px;
				font-weight: 400;
				line-height: 22px;
				text-decoration: underline;
			}
			h6 {
				color: $gray88;
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}
	.sidebar {
		top: 60px;
	}
	.sidebar-related {
		> div {
			border-bottom: 1px solid $graycc;
			padding-bottom: 36px;
			text-align: left;
		}
	}
	.partner-log {
		max-width: 84px;
	}
	blockquote {
		background-position: right 100%;
		margin-top: 40px;
		text-align: left;
	}
	.author-info {
		margin-bottom: 20px;		
		a {
			color: $black;
			&:hover {
				color: $coral;
			}
		}
		.author {
			margin-top: 0;
		}
		.social-links {
			margin-top: 5px;
			a {
				color: $blue;
				&:hover {
					color: $coral;
				}
			}
		}
		&.default {
			margin-bottom: 50px;
		}
	}
	.volunteer-signup {
		padding-top: 94px;
		> p {
			font-family: $font-serif-medium;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 8px;
		}
		input[type="email"] {
			background-color: $white;
			border-radius: 0;
			font-size: 16px;
			height: 40px;
			line-height: 40px;
			max-width: 270px;
			padding-left: 10px;
			width: 68%;	
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #CCC !important;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: #CCC !important;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: #CCC !important;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: #CCC !important;
			}
		}
		.btn.submit-btn {
			background-color: $green;
			border: 0;
			font-size: 16px;
			line-height: 40px;
			padding: 0 12px !important;
		}
	}
	.visuals-gallery {
		height: 520px;
		margin: 40px 0;
		padding: 0 !important;
		position: relative;
		width: 100%;
		ul.visuals {
			list-style-type: none;
			li.visual {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				opacity: 0;
				width: 100%;
				img {
					width: 100%;
					max-height: 440px;
					overflow: hidden;
				}
				&.active {
					opacity: 1;
				}
			}
		}
		.gallery-btn {
			cursor: pointer;
			font-size: 40px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			&:hover {
				color: $coral;
			}
			&.next-btn {
				right: 10px;
			}
			&.prev-btn {
				left: 10px;
			}
		}
		ul.dot-indicator {
			list-style-type: none;
			padding: 0;
			position: absolute;
			bottom: 0;    
			left: 50%;
    		transform: translateX(-50%);
			.dot {
				cursor: pointer;
				display: inline-block;
				border-radius: 50%;
				height: 8px;
				width: 8px;
				margin: 0 4px;
				background-color: rgba(0,0,0,0.3);
				&.active {
					background-color: $gray33;
				}
			}
		}
	}
}


@media (max-width: $screen-md) { 
	.impact-story {
		.post-content {
			.conclusion {
				margin-left: 0;
				padding: 0 20px 60px;
			}
		}
		.sidebar {
			top: 0;
		}
	}
}

@media (max-width: $screen-sm) { 
	.impact-story {
		.post-content {
			#mc_embed_signup {
				padding: 0;
			}
		}
		.visuals-gallery {
			height: 350px;
		}
	}
}

