[class*="page-template-learning-path"] {
	.box-wrapper {
		overflow: auto;
	}
	h1 {
		color: #333;
		font-size: 40px;
    	line-height: 50px;
		margin: 0 0 48px;
		&.header-title {
			color: #FFF;
			font-size: 36px;
			line-height: 1.2;
			margin-bottom: 0;
		}
	}
	h2 {
		font-family: 'Stag-Medium';
		font-size: 24px;
		line-height: 33px;
		margin: 0;
		&.section-header {
			margin: 14px 0 18px;
			&:after {
			  border-bottom: 3px solid #F2645A;
			  content: "";
			  display: block;
			  padding-top: 32px;
			  width: 100px;
			}
		}
	}
	h3 {
		font-family: 'Stag-Book';
		font-size: 24px;
		line-height: 33px;
		margin: 0;
		&.fixed-height {
			height: 145px;
		}
	}
	h4 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1px;
		margin-top: 80px;
		text-transform: uppercase;
	}
	p {
		font-size: 15px;
		line-height: 21px;
		margin-top: 32px;
		&.border-top {
			 margin-top: 0;
			&:before {
			  border-top: 1px solid #F2645A;
			  content: "";
			  display: block;
			  padding-bottom: 20px;
			  width: 66px;
			}
		}
	}
	ul, ol {
		list-style: initial;
		margin-bottom: 18px;
    	padding: 0px 0px 0px 18px;
		li {
			font-size: inherit;
		}
		&.jump-menu {
			list-style-type: none;
			padding-left: 0;
		}
		&.breadcrumb {
			padding-left: 0;
		}
	}
	ol {
		list-style-type: decimal;
		margin-left: 0;
	}
	img {
		object-fit: scale-down;
	}
	.content-width {
		margin: 0 auto;
		max-width: 1176px;
	}
	.column-container {
		display: flex;
		.column {
			margin-right: 30px;
			position: relative;
			&:last-child {
				margin-right: 0;
			}
			&.column-2 {
				width: 16.6666666666667%;
			}
			&.column-3 {
				width: 25%;
			}
			&.column-4 {
				width: 33.33333333333333%;
			}
			&.column-5 {
				width: 41.666666666666667%;
			}
			&.column-6 {
				width: 50%;
			}
			&.column-7 {
				width: 58.333333333333333%;
			}
			&.column-8 {
				width: 66.66666666666667%;
			}
			&.column-9 {
				width: 75%;
			}
			&.column-10 {
				width: 83.3333333333333%;
			}
			&.column-11 {
				width: 91.6666666666667%;
			}
			&.column-12 {
				width: 100%;
			}
			.column-inner {
				padding: 0 30px 30px;
			}
		}
		&.column-flow {
			flex-flow: row wrap;
			.column {
				padding-right: 30px;
				margin-right: 0;
			}
		}
	}
	.header-main-container {
		padding-top: 100px;
		.header-content {
			background-color: transparent;
			vertical-align: middle;
			.header-content-inner {
				padding-top: 0 !important;
			}
		}
	}
	.header-wrapper {
		height: 35vh;
		max-height: 330px;
	}
	.breadcrumb {
		margin: 0 0 50px;
		li {
			color: #333;
			font-family: 'Stag-Book';
		}
	}	
	.jump-menu {
		position: -webkit-sticky;
		position: sticky;
	 	top: 136px; //main nav height
		li {
			a {
				text-decoration: none;
			}
		}
	}
	footer {
		display: block;
	}
}


/////////////////////////
//
//  LANDING STYLES
//
/////////////////////////
.page-template-learning-path-landing {
	.learning-path {
		&.landing {
			margin-top: 100px;
		}
		.jump-menu {
			font-family: 'Stag-Book';
			font-size: 18px;
			li {
				line-height: 23px;
				padding-bottom: 12px;
				a {
					color: #000;
					font-family: Source Sans Pro,sans-serif;
					font-size: 16px;
					font-weight: 700;
					line-height: 18px;
					&:hover {
						color: #F2645A;
					}
				}
			}
		}
	}
	.column-container.column-flow .column.landing-item {
		border-right: 1px solid #EBEBEB;
		margin-bottom: 30px;
		padding: 0 15px;
		&:nth-child(3n),
		&:last-child {
		  border-right: 0;
		}
		.thumb {
			background-color: #CCC;
			height: 170px;
			position: relative;
			width: 100%;
		}
		.category-label {
			background-color: #000;
			color: #FFF;    
			font-family: 'Stag-Book';
    		font-size: 13px;
    		padding: 3px 10px;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			white-space: nowrap;
		}
		.subtitle {
			font-size: 12px;
			margin: 20px 0 2px;
		}
		a span.title {
			border-bottom: 1px solid rgba(0,0,0,.5);
			color: #303133;
			font-family: 'Stag-Book';
			font-size: 18px;
			line-height: 21px;
		}
		p {
			color: #777;
			font-size: 13px;
			line-height: 1.5;
			margin-top: 0;
			padding: 15px 0;
		}
	}
}


/////////////////////////
//
//  TEMPLATE STYLES
//
/////////////////////////
.page-template-learning-path {
	.breadcrumb {
		margin: 100px 0 50px;
	}
	.category-label {
		color: $green;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.jump-menu {
		h4 {
			font-family: 'Stag-Medium';
			font-weight: normal;
			letter-spacing: 0;
			margin: 0 0 15px;
			text-transform: none;
		}
		li > a {
			color: $gray66;
			display: block;
			line-height: 18px;
			padding: 6px 0;
			&:hover,
			&.active {
				background-color: #E8F8F2;
				color: #000;
				font-weight: bold;
			}
		}
		.primary {
			a {
				padding-left: 20px;
			}
		}
		.secondary {
			a {
				padding-left: 40px;
			}
		}
	}
	.pagination-container {
		margin: 50px auto;
		.pagination {
			.page-prev,
			.page-next {
				margin: 10px 0;
				width: auto;
				i {
					font-size: 24px;
    				margin-top: -12px;
				}
				a:hover {
					color: $coral;
				}
			}
			.btn {
				font-family: 'Stag-Medium';
				font-size: 14px;
				font-weight: 400 !important;
				text-transform: none;
			}
			li {
				padding-right: 10px;
				&.page-prev {
					padding-right: 0;
					padding-left: 10px;
				}
				.page-numbers {
					&:hover {
						border: 1px solid $coral;
						color: $coral;
					}
					&.dots {
						color: $coral;
						&:hover {
							border: none;
							color: $coral;
						}
					}
				}
				.current {
					background-color: $coral;
    				border: 2px solid transparent;
    				color: #FFF !important;
				}
			}
		}
	}
	article.learning-path {
		.feature-content {
			padding: 12px 0 0;
			.feature-inner {				
				font-family: 'Stag-Book';
				font-size: 24px;
				line-height: 33px;
				width: 100%;
				p {	
					font-family: 'Stag-Book';
					font-size: 24px;
					line-height: 33px;
					margin: 48px 0 0;
				}
			}
		}
		.feature-media {
			height: 484px;
			margin: 35px auto;
			position: relative;
			.feature-media-caption {
				background-color: #FFF;
				bottom: 40px;
				left: 40px;
				padding: 25px;
				position: absolute;
				right: 40px;
			}
		}
		.video-container {
			border: none;
			height: 100%;
			width: 100%;
		}
		.attribution {
			color: #888;
			font-family: 'Stag-Book';
			font-size: 12px;
			line-height: 12px;
			margin-top: 10px;
		}
		code {
			font-size: 13px;
			font-weight: bold;
			padding: 0;
		}
		pre {
			background-color: #333;
			border: 2px solid #1BB580 !important;
			color: #FFF;
			margin: 25px 0 35px !important;
			padding: 0 20px 20px !important;
			code {
				font-size: 12px;
			}
		}
		.syntaxhighlighter {
			background-color: #333;
			border: 2px solid #1BB580 !important;
			font-size: 12px;
			margin: 25px 0 35px !important;
			overflow: auto;
			padding: 20px !important;
		}
		table { 
		  border-collapse: collapse; 
		  font-size: 16px;
		  text-align: left;
		  width: 100%;
			th { 
			  background-color: #333;
			  color: $white;
			  font-weight: bold;
			}
			td, 
			th { 
		  	border: 1px solid #333; 
		  	padding: 8px;
		  }
		  tr.highlight {
		  	td {
		  		background-color: $green;
		  		color: $white;
		  	}
		  }
	  	}
		section {
			padding: 35px 0;
		}
		.column-module {
			.column {
				padding-bottom: 32px;
			}
		}
		.free-module {
			h3 {
				margin-top: 80px;
			}
		}
		.quick-tip-container {
			h5 {
				color: #18B580;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 0.75px;
				text-transform: uppercase;
			}
			p,
			ol, 
			ul {
				border: 2px solid #18B580;
				color: #18B580;
				line-height: 21px;
				margin-top: 12px;
				padding: 20px;
			}
			ol,
			ul {
				padding-left: 32px;
			}
		}
	}

	/////////////////////////
	//
	//  FAQ STYLES
	//
	/////////////////////////
	.section-faq {
	 	.accordion {
	 		margin-top: 50px;
	 		&.overview-accordion {
	 			margin-top: 80px;
	 		}
	 	}
	 	h4 {
	 		margin-top: 28px;
	 		position: relative;
	 		> .btn {
	 			background-color: transparent;
				color: #333;
				font-family: 'Stag-Book';
				font-size: 24px;
				font-weight: normal !important;
				letter-spacing: 0;
				line-height: 33px;
				margin: 0 !important;
				padding-right: 40px !important;
				text-align: left;
				text-transform: none;
		 		white-space: unset;
		 		width: 100%;
		 	}
		 	&:after {
		 		color: #666;
		 		content: '\e902';
		 		font-family: 'Humanitarian-Icons-v02';
		 		pointer-events: none;
		 		position: absolute;
    			top: 5px;
    			right: 0;
		 	}
		 	&.open {
		 		&:after {
		 			content: '\e958';
		 		}
		 	}
		}
		.card {
			border-bottom: 1px solid #E3E3E3;
			margin: 20px 0;
			padding-bottom: 20px;
		}
		.card-body {
			padding-top: 10px;
			p {
				margin: 32px 0 16px;
				width: 95%;
			}
		}
	}
}


@media (max-width: $screen-md) { 
	[class*="page-template-learning-path"] {
		.header-wrapper {
			margin-top: 104px; //height of nav
		}
		.header-main-container {
			.header-content {
				.header-content-inner {
					padding-bottom: 54px !important;
					padding-top: 54px !important;
				}
			}
		}
		.breadcrumb {
			margin: 30px 0;
		}
		.jump-menu {
			display: none;
		}
		.column-container {
			flex-flow: column;
			.column {
				padding: 0;
			}
			.column[class*="column-"] {
				width: 100%;
			}
		}
		article.learning-path {
			.content-width {
				padding-left: 20px;
				padding-right: 20px;
			}
			.feature-content {
				.feature-inner {
					width: 100%;
				}
			}
			.feature-media {
				&.content-width {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	.page-template-learning-path-landing-original,
	.page-template-learning-path-landing {
		article.learning-path {
			margin-top: 0;
		}
		.column-container.column-flow {
			.column.landing-item {
				border-right: 0;
			}
		}
	}
	.page-template-learning-path {
		.pagination-container {
			padding: 0 10px;
		}
	}
}


@media (max-width: $screen-sm) {
	[class*="page-template-learning-path"] {
		.header-main-container {
			.header-content {
				.header-content-inner {
					padding-bottom: 20px !important;
					padding-top: 20px !important;
				}
			}
		}
	}
}
