.page-template-learning-path-overview,
.page-template-learning-path-methodology {
	.header-wrapper {
		min-height: 0 !important;
	}
	.header-main-container {
		max-width: none !important;
		.header-content-inner {
			display: none;
		}
	}

	.learning-path {
		h1 {
			color: #333;
			font-size: 40px;
			line-height: 50px;
			margin: 0 0 48px;
		}
		h2 {
			font-family: 'Stag-Medium';
			font-size: 24px;
			line-height: 33px;
			margin: 0;
			&.section-header {
				margin: 14px 0 18px;
				&:after {
				  border-bottom: 3px solid #F2645A;
				  content: "";
				  display: block;
				  padding-top: 32px;
				  width: 100px;
				}
			}
		}
		h3 {
			font-family: 'Stag-Book';
			font-size: 24px;
			line-height: 33px;
			margin: 0;
		}
		a {
			//color: #FFF;
			text-decoration: underline;
		}
		p {
			font-size: 15px;
			line-height: 19px;
			margin-top: 32px;
			&.border-top {
				 margin-top: 0;
				&:before {
				  border-top: 1px solid #F2645A;
				  content: "";
				  display: block;
				  padding-bottom: 20px;
				  width: 66px;
				}
			}
		}
		.learning-path-navigation {
			background-color: #000;
			color: #FFF;
			font-family: 'Stag-Book';
			font-size: 13px;
			line-height: 13px;
			.navigation-inner {
				align-items: center;
				display: flex;
				height: 60px;
			}
			.sub-navigation {
				margin-left: auto;
				a {
					margin-left: 40px;
				}
			}
			a {
				color: #FFF;
				text-decoration: none;
				&:hover,
				&.active {
					font-weight: 700;
				}
			}
		}
		.feature-content,
		.feature-header {
			background-image: linear-gradient(rgba(216, 216, 216, 1), rgba(255, 255, 255, 1));
			padding: 90px 0 60px;
			.feature-inner {
				width: 75%;
			}
		}
		.feature-header {
			padding-bottom: 25px;
			h1 {
				margin-bottom: 0;
			}
		}
		.feature-media {
			background-color: #E7EFF8;
			height: 612px;
			position: relative;
			.feature-media-caption {
				background-color: #FFF;
				bottom: 40px;
				left: 40px;
				padding: 25px;
				position: absolute;
				right: 40px;
			}
		}
		.column-container {
			display: flex;
			.column {
				margin-right: 30px;
				position: relative;
				&:last-child {
					margin-right: 0;
				}
				&.column-4 {
					width: 33.33333333333333%;
				}
				&.column-5 {
					width: 41.666666666666667%;
				}
				&.column-6 {
					width: 50%;
				}
				&.column-7 {
					width: 58.333333333333333%;
				}
				&.column-8 {
					width: 66.66666666666667%;
				}
				.column-inner {
					padding: 0 30px 30px;
				}
			}
			&.column-flow {
				flex-flow: row wrap;
				.column {
					padding-right: 30px;
					margin-right: 0;
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
		.button-primary {
			background-color: #333;
			border: 1px solid #333;
			color: #FFF;
			display: block;
			font-family: 'Stag-Book';
			font-size: 18px;
			line-height: 62px;
			margin: 0 auto 12px;
			text-decoration: none;
			width: 472px;
			&:hover {
				background-color: transparent;
				color: #333;
			}
			&.button-dark {
				background-color: none;
				border: 1px solid #FFF;
				&:hover {
					background-color: #FFF;
					color: #333;
				}
			}
		}
		.button-read-more {
			bottom: 24px;
			color: #F2645A;
			cursor: pointer;
			display: block;
			font-family: 'Stag-Book';
			font-size: 18px;
			margin-top: 50px;
			position: absolute;
			text-decoration: none;
			&:before {
    		border: 2px solid #F2645A;
				border-radius: 50%;
				font-family: 'Humanitarian-Icons-v02';
				content: "\e94b";
				margin-right: 24px;
    		padding: 13px;
			}
			&.expand {
				&:before {
					content: "\ea2a";
				}
			}
			&:hover {
				&:before {
	    		background-color: #F2645A;
	    		color: #FFF;
				}
			}
		}
		.no-pad-top {
			margin-top: 0 !important;
			padding-top: 0 !important;
		}
		.no-pad-left {
			padding-left: 0 !important;
		}
		.no-pad {
			padding: 0 !important;
		}
		.pad-bottom {
			padding-bottom: 30px;
		}
		.background-gray {
			background-color: #F1F1F1;
		}
		.background-gray-dark {
			background-color: #333;
			color: #FFF;
		}
		.background-horizontal-gradient {
			background-image: linear-gradient(to left, #F1F1F1 , #FFF);
		}
		.text-blue {
			color: #007CE1;
		}
		.text-green {
			color: #1BB580;
		}
		.align-center {
			text-align: center;
		}
		.align-left {
			text-align: left;
			display: flex;
    	justify-content: flex-start;
		}
		.align-right {
			text-align: right;
			display: flex;
    	justify-content: flex-end;
		}
		.content-width {
			margin: 0 auto;
			max-width: 1176px;
		}
		.video-container {
			border: none;
			height: 100%;
			width: 100%;
		}
		section {
			padding: 70px 0;
			.column-container {
				&.has-icons {
					margin-top: 90px;
					.icon {    
						position: absolute;
				    left: 50%;
				    top: -70px;
				    transform: translate(-50%);
					}
					.column-4 {
						padding-top: 115px;
					}
					.fixed-height {
						height: 230px;
					}
				}
			}
			&.section-stages {
				.section-header {
					padding-bottom: 30px;
				}
			}
			&.section-methodology,
			&.section-learnmore {
				padding-bottom: 100px;
				p {
					width: 44%;
    			margin: 30px auto 50px;
				}
			}
			&.section-learnmore {
				p {
					width: 20%;
				}
			}
			&.section-step {
				p {
					width: 80%;
				}
				.video-container {
					height: 348px;
				}
			}
			&.section-documentation {
				img {
					margin-bottom: 25px;
				}
			}
			&.section-faq {
				a {

				}
			}
		}
		.section-card {
			background-color: #FFF;
			cursor: pointer;
			margin: 30px 15px;
			padding: 40px 45px 60px;
			text-align: left;
			text-decoration: none;
			width: 400px;
			p.body {
				color: #000;
			}
			&:hover {
				box-shadow: 0 45px 79px 0 rgba(200, 200, 200, 0.5);
			}
		}
		.attribution {
			color: #888;
			font-family: 'Stag-Book';
			font-size: 12px;
			line-height: 12px;
			margin-top: 10px;
		}
		.placeholder-media {
			background-color: #E7EFF8;
			height: 348px;
			width: 608px;
		}
		.content-drawer {
			display: none;
			margin-top: 70px;
			.fixed-height {
				height: 130px;
			}
			.column {
				padding-bottom: 32px;
			}
		}
		&.methodology {
			counter-reset: heading;
			h2.numbered:before {
				content: counter(heading)" ";
				counter-increment: heading;
				padding-right: 12px;
			}
			h2.numbered {
				counter-reset: subheading;
			}
			.section-faq {
				margin-top: 90px;
				p {
					width: 100%;
				}
			}
		}
	}
}

/////////////////////////
//
//  FAQ STYLES
//
/////////////////////////
.section-faq {
	.ufaq-faq-list {
		margin-top: 70px;
		width: 66%;
		.ufaq-faq-category-title {
			display: none;
		}
		.ufaq-faq-title {
			h4 {
				color: #333;
				font-family: 'Stag-Book';
				font-size: 24px;
				font-weight: normal;
				line-height: 33px;
				margin: 0 !important;
			}
			.ewd-ufaq-post-margin {
				display: flex;
	    	flex-direction: row-reverse;
			}
		}
		.ufaq-faq-div {
			border-bottom: 1px solid #E3E3E3;
			margin: 20px 0;
			padding-bottom: 20px;
		}
		.ufaq-faq-title-text {
			width: 100% !important;
		}
		.ewd-ufaq-post-margin-symbol span {
			color: #8F91A3;
		}
		.ufaq-faq-body {
			padding-left: 0;
			p {
				margin-bottom: 20px;
			}
		}
	}
}

@media (max-width: $screen-md) { 
	.page-template-learning-path-overview,
	.page-template-learning-path-methodology {
		.learning-path {
			margin-top: 25px;
			.content-width {
				padding-left: 20px;
				padding-right: 20px;
			}
			.column-container {
				flex-flow: column;
				.column {
					padding: 0;
				}
				.column[class*="column-"] {
					width: 100%;
				}
			}
			.feature-content {
				.feature-inner {
					width: 100%;
				}
			}
			.feature-media {
				&.content-width {
					padding-left: 0;
					padding-right: 0;
				}
			}
			.button-read-more {
				bottom: 0;
				position: relative;
			}
			section {
				.column-container {
					&.has-icons {
						.column {
							margin-bottom: 90px;
						}
						.fixed-height {
							height: auto;
							padding-bottom: 30px;
						}
					}
				}
				&.section-stages {
					img {
						height: 100%;
						margin-top: 40px;
						width: 100%;
					}
				}
				&.section-step {
					p {
						width: 100%;
					}
					.video-container {
						margin-bottom: 40px;
					}
				}
				&.section-step:nth-child(odd) {
					.column-container {
					  flex-direction: column-reverse;
					}
				}
				&.section-documentation {
					.align-left,
					.align-right {
						justify-content: center;
					}
				}
			}
			.content-drawer {
				.column {
					padding-bottom: 40px;
				}
				.fixed-height {
					height: auto;
					padding-bottom: 30px;
				}
			}
			.section-faq {
				margin-top: 30px;
				.ufaq-faq-list {
					margin-top: 40px;
					width: 100%;
				}
			}
		}
	}
	.ufaq-faq-title {
		.ewd-ufaq-post-margin-symbol {
			margin-right: 0;
			margin-left: 15px;
		}
	}
}


@media (max-width: $screen-sm) { 
	.page-template-learning-path-overview,
	.page-template-learning-path-methodology {
		.learning-path {
			.learning-path-navigation {
				.navigation-inner {
    			align-items: flex-start;
					flex-flow: column;
					height: auto;
    			padding: 15px 20px 12px;
    			.sub-navigation {
    				display: none;
    			}
				}
			}
			.button-primary {
				width: 100%;
			}
			section {
				&.section-methodology {
					p {
						width: 100%;
					}
				}
			}
		}
	}
}

