nav {	
	background-color: rgba(0,0,0,0);
	display: flex;
	padding: 25px 45px;
	position: absolute;
	top: 35px;
	transition: background-color 0.4s ease;
	width: 100%;
	&.sticky {
		background-color: $white;
		position: fixed;
		top: 0;
		.nav-container {
			.logo {
				* {
					fill: $green;
				}
			}
			.main-nav {
				> .item,
				a.title {
					color: $black;
				}
			}
		}
	}
	&.active {
		background-color: rgba(0,0,0,0.9);
		.nav-container {
			.logo {
				* {
					fill: $white;
				}
			}
			.main-nav {
				> .item,
				a.title {
					color: $white;
					opacity: 0.6;
					&:hover {
						opacity: 1;
					}
				}
				.sub-menu {
					display: block;
				}
			}
			transition: all 0.4s ease;
		}
	}
	.nav-container {	
		display: flex;
		margin: 0 auto;
		max-width: 1176px;
		width: 100%;
		> a,
		.logo {
			width: 225px;
		}
		.logo {
			padding-top: 7px;
			* {
				fill: $white;
			}
		}
		.main-nav {
			display: flex;
			margin-left: auto;
			margin-top: 24px;
			> .item,
			a.title {
				color: $white;
				font-family: $font-serif-medium;
				font-size: 14px;
				text-transform: uppercase;
			}
			> .item {
				width: 150px;
			}
			.sub-menu {
				display: none;
				margin-left: 0;
				a.title {
					color: $green;
				}
				> .item {
					line-height: 16px;
					padding: 7px 0;
				}
			}
		}
	}
}

.ocha-header {
	background-color: #252525;
	color: $white;
	line-height: 35px;
	padding: 0 45px;
    .ocha-header-container {
    	height: 35px;
		margin: 0 auto;
	    max-width: 1176px;
	    width: 100%;
	    .ocha-services {
	    	align-items: center;
		    color: #EEE;
	    	display: inline-flex;
	    	font-family: helvetica, arial, sans-serif;
		    font-size: 12px;
		    font-weight: 400;
		    .ocha-logo {
			    background: url('assets/logo-ocha-white.svg') 50% no-repeat;
			    background-size: contain;
			    display: inline-block;
			    flex-shrink: 0;
			    height: 18px;
			    margin-right: 4px;
			    width: 21px;
			}
	    	.icon-o-arrow-up {
			    display: none;
			}
			.icon-o-arrow-up,
	    	.icon-o-arrow-down {
			    margin-left: 10px;
			    height: 9px;
			    fill: #EEE;
			}
			&:hover {
				text-decoration: underline;
			}
		}
    }
    .ocha-services-menu-container {
	    .ocha-services-menu {
		    color: #EEE;
		    display: flex;
		    font-family: helvetica, arial, sans-serif;
		    font-size: 12px;
		    font-weight: 600;
		    justify-content: space-between;
		    margin: 0 auto;
	    	max-width: 1176px;
		    padding: 22px 0;
	    	width: 100%;
		    .btn.ocha-see-all {
		    	background-color: $graycc;
		    	border: 0;
		    	color: $dark-blue;
		    	font-family: 'Gotham-Bold';
		    	font-size: 12px;
		    	height: 43px;
		    	padding: 4px !important;
		    	text-align: center;
		    	width: 210px;
		    	&:hover {
		    		background-color: $gray88;
		    	}
		    }
		}
    }
	.dropdown-menu {
	    background-color: $gray33;
	    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    display: none;
	    left: 0;
	    list-style: none;
	    position: absolute;
	    text-align: left;
	    top: 35px;
	    width: 100%;
	    z-index: 1002;
	    .ocha-links-list {
	    	margin-top: 0;
	    	li {
		    	font-size: 12px;
		    	margin-top: 6px;
		    	a {
		    		color: $white;
		    		&:hover {
		    			color: $coral;
		    		}
		    	}
		    }
	    }
	    .list-title {
	    	color: #EEE;
	    	font-size: 12px;
		    font-weight: 400;
	    	margin-top: 0;
	    }
	}
}



.mobile-nav-toggle {
	background-color: transparent;
	display: none;
	height: 40px;
	padding: 0;
	position: fixed;
	right: 30px;
	top: 60px;
	width: 40px;
	.icon-bar {
		background-color: $green;
		display: block;
		height: 5px;
		transition: all 0.2s ease;
		width: 36px;
	}
	.icon-bar+.icon-bar {
		margin-top: 12px;
	}
	&.expanded {
		right: 30px;
		top: 30px;
		.icon-bar {		
			&:nth-child(1) {
	    		position: absolute;
	    		top: 12px;
	    		transform: rotate(45deg);
	    	}
			&:nth-child(2) {
	    		position: absolute;
	    		top: 0;
	    		transform: rotate(-45deg);
	    	}
		}
	}
}

nav.sticky + .mobile-nav-toggle {
	top: 35px;
}

body.mobile-nav-open {
    overflow: hidden !important;
}


@media (max-width: $screen-md) {
	nav {
		background-color: $white;
		flex-flow: column;
		padding: 20px 30px 10px;
		position: fixed;
		&.active {
			position: fixed;
			height: 100%;
			overflow-y: scroll;
			top: 0;
			.nav-container {
				.main-nav {
					display: block;
					a.title {
						opacity: 1;
					}
				}
			}
		}
		.nav-container {
			flex-flow: column;
			.logo {
				padding-top: 0;
				* {
					fill: $green;
				}
			}
			.main-nav {
				display: none;
				margin-left: 0;
				> .item {
					padding-bottom: 30px;
				}
				.sub-menu {
					display: block;
					a.title {
						color: $green;
					}
				}
			}
		}
	}
	.mobile-nav-toggle {
		display: block;
		&.expanded {
			.icon-bar {
				background-color: $white;
			}
		}
	}
	.ocha-header {
		padding: 0 30px;
		.ocha-services-menu-container {
			.ocha-services-menu {
				flex-flow: column;
				padding: 0 30px;
			}
		}
		.dropdown-menu {
			.list-title {
				margin-top: 20px;
				&.list-title-empty {
					display: none;
				}
			}
		}
	}
	.header-wrapper {
		height: auto !important;
		min-height: 0 !important;
		margin-top: 80px;
	}
}