//content blocks on homepage
.t-entry-meta {
	background-color: $black;
	font-family: $font-serif-book;
	font-size: 13px;
	left: 50%;
	margin-top: -1px;
	padding: 3px 10px;
	position: absolute;
	transform: translateX(-50%);
	top: 0;
}
.t-overlay-content {
	bottom: 0;
	position: absolute;
}
.tmb .t-entry .t-entry-title {
	font-weight: normal;
}
.t-entry-author {
	font-family: $font-serif-book;
	font-size: 18px;
}
.t-entry-visual {	
	.t-overlay-text {
		width: 90% !important;
	}
	&.quote {
		@include bg-gradient($gray33);
		.t-background-cover,
		.t-entry-visual-overlay,
		.t-entry-author {
			display: none;
		}
		.t-overlay-content {
			bottom: auto;
			top: 18px;
		}
		.t-entry-title {
			font-size: 18px;
			font-weight: normal;
			text-transform: uppercase;
		}
		.t-entry {
			.label {
				color: #757575;
				font-family: $font-serif-book;
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 30px;
				text-transform: uppercase;
			}
			p {
				font-family: $font-serif-book;
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 36px !important;
			}
		}
	}
	&.dataviz,
	&.impact {
		@include bg-gradient($teal);
		.t-background-cover,
		.t-entry-visual-overlay,
		.t-entry-author,
		.t-entry-title {
			display: none;
		}
		.t-overlay-content {
			bottom: auto;
			top: 24px;
		}
		.t-overlay-text {
			padding-top: 0;
			padding-right: 36px !important;
			width: 100% !important;
		}
		.t-entry {
			img {
				margin: 30px 0 24px;
			}
			p {
				&.title {
					font-family: $font-serif-book;
					font-size: 24px;
					line-height: 1.2;
				}
				&.author {
					font-family: $font-serif-book;
					font-size: 18px;
					line-height: 20px;
					margin-top: 5px;
				}
			}
		}
	}
	&.slideshow {
		@include bg-gradient($black);
		.t-overlay-content {
			width: 100%;
		}
		.t-entry-visual-cont {
			.slideshow-container {
				height: 100%;
			}
			img {
				height: 100%;
				left: 50% !important;
				transform: translateX(-50%) !important;
				opacity: 0;
				position: absolute;
				width: auto;
    			transition: opacity 1s; 
    			&.fadeIn {
    				opacity: 1;
    			}
			}
		}
	}
	&.casestudy,
	&.media {
		@include bg-gradient($dark-blue);
		.t-background-cover,
		.t-entry-visual-overlay,
		.t-entry-author {
			display: none;
		}
		.t-overlay-content {
			bottom: auto;
			top: 0;
		}
		.t-entry-title {
			font-size: 18px;
			font-weight: normal;
		}
		.t-entry {
			p {
				font-family: $font-serif-book;
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 36px !important;
			}
		}
	}
	&.media {
		@include bg-gradient($purple);
	}
	&.calendar {
		@include bg-gradient($coral);
	}
	&.image {
		.t-entry-meta,
		.t-entry-author,
		.t-entry-visual-overlay,
		.t-entry-title {
			display: none;
		}
	}
	&.video {
		background-color: $black;
		.t-background-cover,
		.t-entry-visual-overlay,
		.t-overlay-wrap {
			display: none;
		}
		iframe {
			height: 100%;
		}
	}
}

.single-block-padding {
	padding-bottom: 100px;
}

.style-light a:not(.btn-text-skin):hover {
	color: $black;
}

.column-layout-3 {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	> div {
		margin-bottom: 20px;
		padding-right: 20px;
		width: 33%;
	}
}

.style-light .btn.btn-default.btn-outline {
	background-color: $white !important;
	border-color: $green !important;
	border-width: 2px;
	color: $green !important;
	padding: 21px 75px 18px !important;
	&:hover {
		background-color: $green !important;	
		border-color: $green !important;
		color: $white !important;
	}
}

//page elements
.page-template-default {
	.type-page {
		.post-wrapper {
			margin-top: 15px;
		}
		h3 {
			margin-bottom: 30px;
			margin-top: 0;
		}
		hr {
			border-color: $black;
			margin: 42px 0 32px;
			width: 15px;
		}
		.uncode_text_column {
			section {
				padding-top: 14px;
			}
		}
		.our-services-icon {
			height: 128px;
			margin-bottom: 20px;
			width: auto;
		}
	}
}
.home {
	&.page-template-default {
		.type-page {
			.post-wrapper {
				margin-top: 0;
			}
		}
	}
}
.main-container .row-container .row-parent .half-internal-gutter .uncont > .heading-text {
	margin-top: 0;
}

.page-body {
	.post-content {
		.row-container {
			.row-parent {
				padding-top: 0;
			}
		}
		.row {
			&.limit-width {
				max-width: $page-content-inner-width;
				.widget_nav_menu {
					ul.menu {
						list-style-type: none;
						padding-left: 0;
						a {
							color: $green;
							font-family: $font-serif-book;
							font-size: 18px;
							&:hover,
							&.active {
								color: $black;
							}
						}
					}
				}
			}
		}
	}
}

.slideshow-modal-overlay {
	background-color: rgba(0, 0, 0, .90);
	display: none;
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2001;
	.slideshow-modal {
		height: 100%;
		margin: 0 auto;
		position: relative;
		width: 90%;
		.slides {
			height: 85%;
			left: 50%;
			position: absolute;
			text-align: center;
			top: 15px;
			width: auto;
			transform: translateX(-50%);
    		-ms-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			img {
				display: none;
				height: 100%;
				max-width: none;
				width: auto;
			}
		}
	}
	.slideshow-caption {
		color: $white;
		font-family: $font-serif-book;
		font-size: 20px;
		padding-top: 5px;
		position: relative;
		text-align: left;
		.title {
    		overflow: hidden;
  			text-overflow: ellipsis;
    		white-space: nowrap;
			width: 90%;
		}
		.author {
			font-size: 16px;
		}
		.counter {
			font-size: 16px;
			position: absolute;
			right: 0;
			top: 5px;
		}
	}
	.prev,
	.next {
		border-radius: 0 3px 3px 0;
		color: $white;
		cursor: pointer;
		font-size: 40px;
		font-weight: 700;
		left: 0;
		margin-top: -50px;
		padding: 16px;
		position: absolute;
		top: 50%;
		transition: 0.6s ease;
		width: auto;
		z-index: 2;
		user-select: none;
		-webkit-user-select: none;
	  	&:hover {
	  		color: $green;
	  	}
	}
	.next {
		border-radius: 3px 0 0 3px;
		left: auto;
		right: 0;
	}
	.close {
		color: $white;
		font-size: 50px;
		font-weight: bold;
		position: absolute;
		right: 52px;
		top: -7px;
		z-index: 2;
	  	&:hover {
	  		color: $green;
	  		cursor: pointer;
	  	}
	}
}

//related posts styles
.post-body .post-after {
	.heading-text h5 {
		font-family: Stag-Medium;
    	font-size: 20px;
    	text-transform: none;
	}
}


@media (max-width: $screen-md) {
	.post-content {
		padding: 0 20px;
	}
}


@media (max-width: $screen-sm) {
	.slideshow-modal-overlay {
		.close {
			right: 20px;
		}
		.slideshow-modal {
			width: 100%;
		}
	}
	.column-layout-3 {
		> div {
			width: 100%;
		}
	}
}
