//content blocks on homepage
.t-entry-meta {
	background-color: $black;
	font-size: 13px;
	left: 50%;
	margin-top: -1px;
	padding: 3px 10px;
	position: absolute;
	transform: translateX(-50%);
	top: 0;
}

.t-overlay-content {
	bottom: 0;
	position: absolute;
}

.single-block-padding {
	padding-bottom: 100px;
}

.style-light a:not(.btn-text-skin):hover {
	color: $black;
}

.isotope-filters {
	background-color: $white;
	.menu-horizontal {
		padding-top: 60px;
		h3 {
			font-size: 30px;
			margin-bottom: 45px;
		}
	}
	ul {
		&.menu-smart {
			padding-top: 0;
			padding-bottom: 45px;
			> li {
				> span {
					padding: 0 4px 15px;
					> a {
						background-color: $white;
						border: 2px solid $yellow;
						border-radius: 10em;
						font-family: $font-serif-book;
						font-size: 15px;
						padding: 6px 30px !important;
						&.active {
							background-color: $yellow;
							color: $black !important;
						}
						&:hover {
							background-color: $yellow;
							color: $black !important;
						}
					}
				}
			}
		}
	}
}

.isotope-footer {
	background: transparent url('assets/bg-pattern-grey.png') repeat 0 0;
}

.loadmore-button {
	margin: 50px 18px;
}

.style-light .btn.btn-default.btn-outline {
	background-color: $white !important;
	border-color: $green !important;
	border-width: 2px;
	color: $green !important;
	padding: 21px 75px 18px !important;
	&:hover {
		background-color: $green !important;	
		border-color: $green !important;
		color: $white !important;
	}
}

//page elements
.page-template-default {
	.type-page {
		.post-wrapper {
			margin-top: 15px;
		}
		h3 {
			margin-bottom: 30px;
		}
		hr {
			border-color: $black;
			margin: 50px 0;
			width: 15px;
		}
	}
}
.home {
	&.page-template-default {
		.type-page {
			.post-wrapper {
				margin-top: 0;
			}
		}
	}
}
.main-container .row-container .row-parent .half-internal-gutter .uncont > .heading-text {
	margin-top: 0;
}