//content blocks on homepage
.t-entry-meta {
	background-color: $black;
	font-size: 13px;
	left: 50%;
	margin-top: -1px;
	padding: 3px 10px;
	position: absolute;
	transform: translateX(-50%);
	top: 0;
}
.t-overlay-content {
	bottom: 0;
	position: absolute;
}
.tmb .t-entry .t-entry-title {
	font-weight: normal;
}
.t-entry-author {
	font-family: $font-serif-book;
	font-size: 18px;
}
// .tmb-text-space-reduced.tmb .t-entry > *:not(hr):not(.t-entry-readmore):not(:first-child) {
// 	margin-top: 8px !important;
// }
.t-entry-visual {	
	.t-overlay-text {
		width: 90% !important;
	}
	&.quote {
		background-color: $gray33;
		.t-background-cover,
		.t-entry-visual-overlay,
		.t-entry-author {
			display: none;
		}
		.t-overlay-content {
			bottom: auto;
			top: 18px;
		}
		.t-entry-title {
			font-size: 18px;
			font-weight: normal;
			text-transform: uppercase;
		}
		.t-entry {
			.label {
				color: #757575;
				font-family: $font-serif-book;
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 30px;
				text-transform: uppercase;
			}
			p {
				font-family: $font-serif-book;
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 36px !important;
			}
		}
	}
	&.tweet {
		background-color: $blue;
		.t-background-cover,
		.t-entry-visual-overlay,
		.t-entry-author,
		.t-entry-title {
			display: none;
		}
		.t-overlay-content {
			bottom: auto;
			height: 100%;
			top: 18px;
			.t-overlay-text {
				height: 100%;
			}
		}
		.t-entry {
			p {
				display: none;
				font-family: $font-serif-book;
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 36px !important;
				&.author {
					display: block;
					font-size: 18px;
					margin-bottom: 0 !important;
					position: absolute;
					bottom: 50px;
				}
				&.tweet-text {
					display: block;
				}
			}
			.fa-twitter {
				font-size: 24px;
			}
		}
	}
	&.dataviz {
		background-color: $teal;
		.t-background-cover,
		.t-entry-visual-overlay,
		.t-entry-author,
		.t-entry-title {
			display: none;
		}
		.t-overlay-content {
			bottom: auto;
			top: 24px;
		}
		.t-overlay-text {
			padding-top: 0;
			padding-right: 36px !important;
			width: 100% !important;
		}
		.t-entry {
			img {
				margin: 30px 0 24px;
			}
			p {
				&.title {
					font-family: $font-serif-book;
					font-size: 24px;
				}
				&.author {
					font-family: $font-serif-book;
					font-size: 18px;
					line-height: 20px;
					margin-top: 0;
				}
			}
		}
	}
	&.casestudy,
	&.media,
	 {
		background-color: $dark-blue;
		.t-background-cover,
		.t-entry-visual-overlay,
		.t-entry-author {
			display: none;
		}
		.t-overlay-content {
			bottom: auto;
			top: 0;
		}
		.t-entry-title {
			font-size: 18px;
			font-weight: normal;
		}
		.t-entry {
			p {
				font-family: $font-serif-book;
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 36px !important;
			}
		}
	}
	&.calendar {
		background-color: $coral;
	}
	&.image {
		.t-background-cover,
		.t-entry-meta,
		.t-entry-author,
		.t-entry-title {
			display: none;
		}
	}
	&.video {
		background-color: $black;
		.t-background-cover,
		.t-entry-meta,
		.t-entry-author,
		.t-entry-title {
			display: none;
		}
		.content.video {
			.mejs-video {
				width: auto !important;
				.mejs-controls,
				.mejs-layers {
					display: none !important;
				}
				.mejs-mediaelement {
					video {
						height: auto !important;
						left: 0;
						position: absolute;
						top: 50%;
						transform: translate(0,-50%);
						width: 100% !important;
					}
				}
			}
			&.preview {
				.mejs-mediaelement {
					video {
	    				left: 50%;
						position: absolute;
						top: 0;
	   				 	transform: translate(-50%, 0);
						width: auto !important;
					}
				}
			}
		}
		.t-entry-visual-cont {
			cursor: pointer;
			&:hover {
				.playpause-btn{
					opacity: 1;
				}
			}
			.playpause-btn{
				opacity: 0;
				-webkit-transition: all 0.5s; 
    			transition: all 0.5s;
			}
		}
	}
}

.single-block-padding {
	padding-bottom: 100px;
}

.style-light a:not(.btn-text-skin):hover {
	color: $black;
}

.isotope-filters {
	background-color: $white;
	.menu-horizontal {
		padding-top: 60px;
		h3 {
			font-size: 30px;
			margin-bottom: 45px;
		}
	}
	ul {
		&.menu-smart {
			padding-top: 0;
			padding-bottom: 45px;
			> li {
				> span {
					padding: 0 4px 15px;
					> a {
						background-color: $white;
						border: 2px solid $yellow;
						border-radius: 10em;
						font-family: $font-serif-book;
						font-size: 15px;
						padding: 6px 30px !important;
						&.active {
							background-color: $yellow;
							color: $black !important;
						}
						&:hover {
							background-color: $yellow;
							color: $black !important;
						}
					}
				}
			}
		}
	}
}

.isotope-footer {
	background: transparent url('assets/bg-pattern-grey.png') repeat 0 0;
}

.loadmore-button {
	margin: 50px 18px;
}

.style-light .btn.btn-default.btn-outline {
	background-color: $white !important;
	border-color: $green !important;
	border-width: 2px;
	color: $green !important;
	padding: 21px 75px 18px !important;
	&:hover {
		background-color: $green !important;	
		border-color: $green !important;
		color: $white !important;
	}
}

//page elements
.page-template-default {
	.type-page {
		.post-wrapper {
			margin-top: 15px;
		}
		h3 {
			margin-bottom: 30px;
			margin-top: 0;
		}
		hr {
			border-color: $black;
			margin: 42px 0 32px;
			width: 15px;
		}
		.uncode_text_column {
			section {
				padding-top: 14px;
			}
		}
		.our-services-icon {
			height: 128px;
			margin-bottom: 20px;
			width: auto;
		}
	}
}
.home {
	&.page-template-default {
		.type-page {
			.post-wrapper {
				margin-top: 0;
			}
		}
	}
}
.main-container .row-container .row-parent .half-internal-gutter .uncont > .heading-text {
	margin-top: 0;
}

.page-body {
	.post-content {
		.row {
			&.limit-width {
				max-width: $post-content-inner-width;
				.widget_nav_menu {
					ul.menu {
						list-style-type: none;
						padding-left: 0;
						padding-top: 14px;
						a {
							color: $green;
							font-family: $font-serif-book;
							font-size: 18px;
							&:hover,
							&.active {
								color: $black;
							}
						}
					}
				}
			}
		}
	}
}

#contact {
	padding: 80px 0 150px;
	text-align: center;
	h2 {
		color: $white;
		font-family: $font-serif-book;
		margin-top: 0;
	}
	p {
		color: $white;
		font-size: 18px;
		margin-bottom: 75px;
	}
}

.uncode_text_column {
	margin-bottom: 100px;
}


@media (max-width: $screen-md) {
	.isotope-filters ul.menu-smart > li > span {
    	padding: 0 4px 15px !important;
	}	
	:not(.with-bg).isotope-filters ul.menu-smart > li > span > a {
		padding: 6px 30px!important;
	}
	.sections-container {
		padding: 0 20px;
	}
	.home {
		.sections-container {
			padding: 0;
		}
	}
}
