body {
	.header-content-inner {
		.search-container {
			display: none;
		}
	}
	&.category-blog,
	&.category-resource-library,
	&.search-results {
		.header-content-inner {
			.search-container {
				display: block;
			}
		}
	}
	&.search-results,
	&.search-no-results,
	&.category-blog,
	&.category-resource-library {
		.header-content-inner {
			.featured-image,
			.photo-credit {
				display: none;
			}
		}
		.header-wrapper {
			max-height: 350px;
		}
		.header-content-inner {
			.search-container {	
				.search-container-inner {
					input {
						background-color: $white;
						border: 0;
						border-radius: 5px;
						color: $gray33;
						font-family: $font-serif-book;
						font-size: 18px;
						padding: 10px 15px;
						&::placeholder,
						&::-webkit-input-placeholder,
						&::-moz-placeholder,
						&:-ms-input-placeholder,
						&:-moz-placeholder {
							color: $graycc;
						}
					}
					i.fa {
						color: $green;
						left: auto;
						margin-top: -25px;
						right: 15px;
					}
					.search-field::placeholder {
						color: $graycc !important;
					}
				}
			}
		}
		.search-tabs {
			margin-bottom: 80px;
			margin-left: -18px;
			ul {
				border-bottom: 1px solid $coral;
				display: inline-block;
				display: none; //hidden for now
				li {
					display: inline-block;
					font-size: 14px;
					padding: 0 25px 10px;
					&.active {
						border-bottom: 4px solid $coral;
					}
				}
			}
		}
	}
	&.search-no-results {
		.main-container .row-container .double-top-padding {
			padding-top: 0 !important;
		}
		.no-results {
			.search-container-inner {
				display: none;
			}
		}
	}
	// for search results in resource library
	&.search-results-resource-library {
		// hide post category, keep resource category
		.t-entry-meta {
			&:not(.t-entry-meta-resource-category) {
				display: none !important;
			}
		}
		.t-entry {
			.archive-category {
				&:not(.archive-category-resource-category) {
					display: none !important;
				}
			}
		}
		// hide post url, keep resource url
		.t-entry-title {
			&:not(.t-entry-title-resource-library) {
				display: none !important;
			}
		}
	}
	// for search results in blog
	&.search-results-blog {
		// hide resource category, keep post category
		.t-entry-meta {
			&.t-entry-meta-resource-category {
				display: none !important;
			}
		}
		.t-entry {
			.archive-category {
				&.archive-category-resource-category {
					display: none !important;
				}
			}
		}
		// hide resource url, keep post url
		.t-entry-title {
			&.t-entry-title-resource-library {
				display: none !important;
			}
		}
	}
	#strattic-search-results {
		float: left; // fix "nothing found" text not being shown
		margin-bottom: 60px; // some space after text
	}
}

.no-results-container {
	padding: 35px 0 24px 114px;
}

.menu-item-link.search-icon {
	display: none !important;
}

.search-container {
	margin: 35px auto 0;
	width: 68%;
	.search-container-inner {
		input {
			background-color: transparent;
			border-bottom: 1px solid $white;
			box-shadow: none;
			color: $white;
			padding: 15px 0 15px 45px;
			&:focus {
				border: 0;
				border-bottom: 1px solid $white;
			}
			&::-webkit-input-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder,
			&:-moz-placeholder {
			  color: #aaa;
			}
			&:-webkit-autofill,
			&:-webkit-autofill:focus {
    			-webkit-text-fill-color: $white;
    			-moz-box-shadow: inset 0 0 0px 1000px rgba(50,50,50,.95);
  				-webkit-box-shadow: inset 0 0 0px 1000px rgba(50,50,50,.95);
  				box-shadow: inset 0 0 0px 1000px rgba(50,50,50,.95);
  				filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  				-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  				zoom: 1;
			}
			&::selection {
				color: $white !important;
			}
		}
		button[type="submit"] {
			background-color: transparent;
		}
		i.fa {
			color: $white;
			font-size: 22px;
			left: 7px;
			margin-top: -25px;
			right: auto;
		}
	}
}

.search-no-results {
	.search-container-inner {
		margin-top: 20px;
		input {
			border-bottom: 1px solid $black;
			box-shadow: none;
			padding: 15px 0 15px 45px;
			&:focus {
				border: 0;
				border-bottom: 1px solid $black;
			}
			&:-webkit-autofill,
			&:-webkit-autofill:focus {
    			 -moz-box-shadow: inset 0 0 0px 1000px $white;
  				-webkit-box-shadow: inset 0 0 0px 1000px $white;
  				box-shadow: inset 0 0 0px 1000px $white;
			}
		}
		i.fa {
			font-size: 22px;
			left: 7px;
			margin-top: -15px;
			right: auto;
		}
	}
}

@media (max-width: $screen-md) {
	body {
		&.search {
			.sections-container {
				padding: 0;
				.search-tabs {
					padding-left: 40px;
				}
			}
			.no-results {
				.page-header,
				.page-content {
					padding-left: 20px;
				}
			}
		}
		&.search .header-main-container .header-content .header-content-inner {
			padding-top: 70px !important;
		}
	}
}

@media (max-width: $screen-sm) {
	body {
		&.search {
			.header-wrapper {
				min-height: 250px !important;
			}
			.search-tabs ul li {
				padding-left: 11px;
				padding-right: 11px;
			}
			.single-gutter .tmb {
				border-right: 0;
				max-width: 375px;
			}
		}
	}
}
