//post header
.header-main-container {
	padding-top: 120px;
	.header-content {
		background-color: $white;
		padding-top: 0 !important;
		.header-content-inner {
			max-width: $post-content-inner-width;
			padding: 54px 0 12px !important;
			.header-title {
				margin-top: 30px;
			}
			.featured-image {
				height: auto;
				margin-top: 30px;
				width: $post-content-inner-width;
			}
			
		}
	}
}

.photo-credit {
	color: $black;
	font-size: 12px;
	margin-top: 8px;
}

.row-breadcrumb {
	&.row-breadcrumb-light {
		background-color: transparent;
		border-color: transparent;
		.breadcrumb-title {
			display: none;
		}
	}
}

.style-light {
	color: $black;
	.breadcrumb {
		> li {
			color: $gray33;
			font-family: $font-serif-book;
			a {
				color: $coral;
			}
		}
	}
	.header-main-container {
		.post-info {
			font-family: $font-serif-book;
			font-size: 13px;
			font-weight: normal;
			margin-top: 30px;
			text-transform: capitalize;
			a {
				color: $white;
			}
		}
	}
	.share-button {
		&.share-inline {
			.social {
				&.top {
					li {
						color: $blue;
					}
				}
			}
		}
	}
	a:not(.btn-text-skin) {
		&:hover {
			color: $coral !important;
		}
	}
}

.post-info {
	.category-info {
		background-color: $black;
		padding: 7px 15px;
	}
	.date-info {
		background: transparent url('assets/date-underline.png') no-repeat right bottom;
		background-size: auto 11px;
		color: $gray88;
		padding: 0 20px 16px 12px;
	}
}

.main-container {
	.row-container {
		.row-parent {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.type-post {
	.post-content {
		> p:first-child {
			font-family: $font-serif-medium;
			font-size: 24px;
		}
		ul {
			//list-style: none;
			//padding: 0;
		}
		li {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 10px;
		}
		ol {
			li {
				padding-left: 5px;
			}
		}
		.iframe-container {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
		iframe {
			border: none;
		}
	}
}

.header-scrolldown {
	display: none;
}

.sidebar-widgets {
	border-top: 1px solid $black;
}

.post-author {
	text-align: center;
	.avatar {
		border-radius: 50%;
		margin-top: 25px;
	}
	.author-info {
		margin-top: 15px;
		text-align: left;
		a {
			color: $black;
		}
		p {
			font-family: $font-serif-book;
			font-size: 14px;
			line-height: 1.25;
			margin-top: 14px;
		}
		.position {
			color: $green;
			font-size: 14px;
			font-weight: 600;
		}
		.social-links {
			font-size: 18px;
			margin-top: 12px;
			a {
				color: $blue;
				margin-right: 20px;
			}
		}
	}
}

.category-info {
	color: $white;
}

.post-wrapper {
	.post-share {
		border-bottom-width: 0;
	}
}

.post-after {
	.style-color-lxmt-bg {
		background-color: transparent;
	}
	.border-color-gyho-color {
		border-color: transparent;
	}
	.uncont {
		text-align: left !important;
	}
	#related-title {
		font-family: $font-serif-book;
		font-size: 12px;
		font-weight: 600;
		text-align: left;
	}
	.single-block-padding {
		padding: 20px 0;
	}
}

div[class*=sharer-].share-button .social ul li {
	font-size: 18px;
	text-align: left;
	width: auto;
}

.share-button {
	&.share-inline {
		margin-top: 5px;
		.social {
			&.top {
				li {
					margin-right: 20px;
				}
			}
		}
	}
}

.share-button.share-inline .social.top li.social-gplus,
.share-button.share-inline .social.top li.social-pinterest,
.share-button.share-inline .social.top li.social-xing,
.share-button.share-inline .social.top li.social-paper-plane{
	display: none !important;
}

#comments #reply-title, 
#respond #reply-title {
	font-family: $font-serif-book;
}

// .post-tag-container.widget-container {
// 	display: none;
// }

.post-body {
	.row-inner div[class*=col-lg-] {
		font-size: 20px;
	}
	.row-parent.double-top-padding {
		padding-top: 36 !important;
	}
	div > a {
		font-size: 20px;
	}
	.style-light p b {
		//color: $coral;
	}
}

.comment-content {
	.comment-meta {
		p {
			font-size: 16px;
			&.comment-meta-item {
				font-size: 11px;
			}
		}
	}
}

blockquote,
blockquote p {
	background: transparent url('assets/quote-underline.png') no-repeat left bottom;
	border: none;
	color: $coral;
	font-family: $font-serif-book;
	font-size: 36px;
	margin: 50px 0 35px 0;
	padding: 0 0 50px;
	max-width: 500px;
	span {
		color: $black;
		font-size: 18px;
	}
}

@media (max-width: $screen-md) {
	blockquote {
		margin: 50px auto 35px;
	}
	.post-author {
		text-align: left;
		img {
			max-width: 100px;
		}
	}
}

@media (max-width: $screen-sm) {
	.post-author img {
		max-width: 72px;
	}
}


