h1,
h3,
h5,
h6 {
	color: $black;
	font-family: $font-serif-book;
	font-weight: normal;
}
h2 {
	font-family: $font-sans-brandon;
	font-weight: normal;
	text-transform: none;
}
h3 {
	font-family: $font-serif-medium;
	letter-spacing: 0.3px;
	&.t-entry-title {
		font-family: $font-serif-book;
	}
}
h6 {	
	color: $gray88;
	font-family: $font-serif-book;
	font-size: 12px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
p {
	font-size: 20px;
	line-height: 1.5;
}

::-moz-selection { /* Code for Firefox */
    background: $green;
    color: $black !important;
}

::selection {
    background: $green;
    color: $black !important;
}
