$green: #1bb580;
$light-green: #edfaf8;
$coral: #f2645a;
$blue: #55acee;
$yellow: #e0f121;

$gray2e: #2e2e2e;
$gray33: #333;
$gray66: #666;
$gray7b: #7b7b7b;
$gray88: #888;

$white: #FFF;
$black: #000;



$font-serif-book: 'Stag-Book';
$font-serif-medium: 'Stag-Medium';
$font-sans-bold: 'Gotham-Bold';
$font-sans-brandon: 'Brandon';


$post-content-inner-width: 864px;
$header-height: 510px;