//brand colors
$green: #1bb580;
$light-green: #edfaf8;
$coral: #f2645a;
$blue: #55acee;
$dark-blue: #0077ce;
$teal: #1ebfb3;
$lightteal: #bee8d9;
$yellow: #e0f121;
$purple: #631dcb;

//supporting colors
$gray2e: #2e2e2e;
$gray33: #333;
$gray66: #666;
$gray7b: #7b7b7b;
$gray88: #888;
$graycc: #ccc;

$white: #FFF;
$black: #000;


//font styles
$font-serif-book: 'Stag-Book';
$font-serif-medium: 'Stag-Medium';
$font-sans-bold: 'Gotham-Bold';
$font-sans-brandon: 'Brandon';


//key dimensions
$page-content-inner-width: 1024px;
$post-content-inner-width: 1024px;
$header-height: 600px;
$footer-max-width: 1170px;


//breakpoints
$screen-md: 959px;
$screen-sm: 569px;

$slick-font-family: 'Stag-Book';