@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$body-font: 'Roboto Condensed', sans-serif;
$red-color: #EB4B47;
$green-color: #0C5B5A;
$malibu-color: #5EB1E4;

#hdf2024 {

  font-family: $body-font;

  h2 {
    color: #000;
    font-size: 20px;
    font-weight: 300;
  }

  h4 {
    font-size: 26px;
    font-weight: 300;
  }

  h5 {
    font-size: 24px;
    font-weight: 300;
    color: #000;
  }

  .background {
    &_color_red {
      background-color: $red-color;
    }

    &_color_black {
      background-color: #252525;
    }

    &_color_white {
    }
  }

  .text_color {
    &_green {
      color: $green-color;
    }

    &_white {
      color: #fff;
    }
  }

  .form-check-input {
    width: 30px;
    height: 30px;

    &:checked {
      background-color: $green-color;
      border-color: $green-color;
    }

    &[type=checkbox] {
      border-radius: 0;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .form-check-label {
    font-weight: 300;
    color: #fff;
    font-size: 22px;
    width: calc(100% - 40px);
    margin-left: 10px;
  }

  .required {
    color: $malibu-color;
    font-size: 22px;
    font-weight: 400;
  }

  .form-control,
  .form-select {
    color: $malibu-color;
    font-size: 20px;
    font-weight: 300;
    border-radius: 0;
    padding: 3px 10px;
    border: 1px solid $malibu-color;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: $malibu-color;
      font-size: 20px;
      font-weight: 300;
    }
  }

  .form-label {
    font-size: 22px;
    color: #fff;
  }

  .btn {
    border-radius: 0;
    padding: 5px 20px;
    font-size: 26px;

    &.btn-danger {
      background-color: #fff;
      border-color: $red-color;
      color: $red-color;

      &:hover {
        background-color: $red-color;
        border-color: #fff;
        color: #fff;
      }
    }

    &.btn-outline-primary {
      border-color: $green-color;
      color: $green-color;
      font-weight: 300;

      &:hover {
        background-color: $green-color;
        border-color: $green-color;
        color: #fff;
      }
    }
  }

  .timetable {
    color: $green-color;
    font-size: 22px;
    border-left: 1px solid $green-color;
    font-weight: 300;
  }

  .circle {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 1.5rem;

    .circle__title {
      width: 307px;
      height: 307px;
      border: 1px solid $malibu-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $green-color;
      color: #fff;
    }

    .circle__name {
      padding: 50px;
      text-align: center;
      font-size: 29px;
      font-weight: 300;
    }

    .circle__description {
      margin-top: 15px;
      font-size: 22px;
      text-align: center;
      max-width: 307px;
      color: #000;
      font-weight: 300;
    }

    &_color_red {
      .circle__title {
        background-color: $red-color;
        border: 1px solid $malibu-color;
      }
    }
  }

  .footer {
    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #f2645a;
      }
    }
  }

}